.label {
	position: relative;
	text-decoration: none;
	color: var(--black);

	// width: ;
	padding: 10px;
	padding-right: 22px;

	display: flex;
	align-items: center;
	column-gap: 10px;
	border-radius: 4px;

	background-color: var(--white);
	box-shadow: 0px 1px 4px 0px rgba(51, 51, 51, 0.3);
	position: relative;
	overflow: hidden;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		width: 2px;
		height: 0;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		background-color: var(--blue);
		transition: all 0.2s ease 0s;
	}

	&:hover {
		&::before {
			height: 100%;
		}
	}
}

.checkbox {
	position: absolute;
	left: 14px;
	width: 18px;
	height: 18px;

	border-radius: 4px;
	border: 1px solid var(--stroke);
	background: var(--white);
	cursor: pointer;

	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;

	&:checked {
		border: none;
		&::before {
			content: url("../../../public/images/icons/checkbox.png");
		}
	}
}

.image {
	height: 40px;
	width: 40px;
	overflow: hidden;
	border-radius: 50%;
	flex-shrink: 0;

	img {
		width: 100%;
		max-width: 40px;
		height: auto;
	}
}

.name {
	margin-right: auto;

	font-size: 16px;
	font-weight: 400;
	line-height: 1.25;
}
