@import "../../index.scss";

.root {
	li a {
		text-decoration: none;
		color: inherit;
	}
}

.item {
	position: relative;

	&:not(:last-child) {
		margin-bottom: 20px;
		padding-right: 49px;
	}

	p {
		margin: 0;
	}
}

.text {
	margin-top: 0;
	color: var(--black);
	font-family: SF Pro Display;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.71;
	padding-right: 50px;

	@media (max-width: $mobileSmall) {
		font-size: 12px;
		padding-right: 30px;
	}

	span {
		font-size: 14px;
		margin-right: 10px;
	}
}

.image {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	margin-top: 6px;

	border-radius: 4px;
	background: var(--cdcdcd, #cdcdcd);

	img {
		width: 100%;
		max-width: 199px;
		height: auto;
		object-fit: cover;
	}
}

.dropDown {
	position: absolute;

	top: -4px;
	right: 0;
}
